html{
    scroll-behavior: smooth;
    background-color: #0072c6;
}
:root{
    --collor-yellow: #f7d000;
    --collor-blue: #0072c6;
    --collor-purple: #52438b;
}

*{
    margin:0;
    padding: 0;
}
header {
    background-color: #0072c6;
    padding: 20px;
    text-align: center;
  }
  .imagem{
    padding: 5%;
    height: 5vh;
    width: auto;
    margin-top: 3vh;
}

header img {
    width: 100px;
    height: auto;
  }

body {
    background-color: #fff;
  }
  
  h1 {
    color: #f7d000;
  }
  
  h2 {
    color: #0072c6;
  }
  
  a {
    color: #0072c6;
  }
  
  a:hover {
    color: #f7d000;
  }
